# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
.cursor/
Package.resolved

# Xcode
xcuserdata/
*.xcscmblueprint
*.xccheckout

# Build artifacts
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Desktop folder
Desktop/
